
doctype html 
head 
    title=title 
    link(rel="stylesheet", href="")
body
    h1 Please write your name and message
    form(action="/new")
    label(for="userName") Name: 
        input(type="text" id="userName" placeholder="Enter your name:")
    label(for="message") Message: 
        input(type="text" id='message' placeholder='Enter your message')
    input(type="Submit" id="submit" value="submit") 
    a(href="/") Back     