//- <!DOCTYPE html>
//- <html lang="en">
//- <head>
//-     <meta charset="UTF-8">
//-     <meta name="viewport" content="width=device-width, initial-scale=1.0">
//-     <title>Form</title>
//- </head>
//- <body>
//-     <form action="/new">
//-         <label for="userName:">Name:

//-             <input id="userName" name="userName" placeholder="Enter your name" type="text">
//-         </label>
//-         <label for="messageText">
//-             Message:
//-             <input type="text" name="messageText" placeholder="Enter your message ">
//-         </label>
//-         <input type="Submit " name="" id="" value="submit">
//-         </form>
//-         <a href="/">back</a>
    
//- </body>
//- </html>


doctype html 
    head 
        title=title 
        link(rel="stylesheet", href="")
    body 
        form(action="/new")
        label(for="userName") Name: 
            input(type="text" id="userName" placeholder="Enter your name:")
        label(for="message") Message: 
            input(type="text" id='message' placeholder='Enter your message')
        input(type="Submit" id="submit" value="submit")
        a(href="/") Back     