<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="">
    <title>%title%</title>
    <link rel="stylesheet" href="../public/stylesheets/">

  </head>
  <body>
    <h1>%=title %</h1>
    <p><a href="/new"></a></p>
  </body>
</html>