//- <!DOCTYPE html>
//- <html lang="en">
//- <head>
//-   <meta charset="UTF-8">
//-   <meta name="viewport" content="width=device-width, initial-scale=1.0">
//-   <title>Head</title>
//- </head>
//- <body>
//- <h1>Mini message board</h1>
//- <br>
//- <a href="/new">New Message</a>
  
//- </body>
//- </html>

doctype html 
html 
  head
    title=title
    
  body 
    h1 Mini message Board 
    br
    ul
      {{#each messages}} 
      li User:{{this.user}}
      li Message:{{this.text}}
      li Date:{{this.added}}
      {{/each}}
    a(href="/new") Add Messages 